.memberdetails {clear: both;}
.memberdetails .label {float: left;}
.memberdetails .output {}

.members {padding: 2px; padding-top: 10px;}

.datatable {border: solid 5px; border-color: #666;}
.datatable thead {}
.datatable tr {height: 40px; border: 0px none; }
.datatable tr:nth-child(odd) {background: #b8d1f3;}
.datatable tr:nth-child(even) {background: #dae5f4;}
.datatable td {width: 100px; text-align: center ; font-size: 18px;}
.theader th {background-color: #b8d1f3;}
.theader tr{height: 30px;}

.form {clear: both; padding: 2px; padding-top: 10px;}
.form .label {float: left; width: 150px; font-weight: bold;}

.error {font-size: 18px; color: #ee0000;}
.confirmation {font-size: 18px; color: #00ee00;}


.horizontalmenu ul {
    padding:0px; margin:1; list-style:none;
}
.horizontalmenu li {
    float:left; position:relative; padding-right:10; display:block; background-color: gray; height: 30px; width: auto;
}
.horizontalmenu li ul {
    display:none;
    position:absolute;
}
.horizontalmenu li:hover ul{
    display:block;
    background:gray;

}
.horizontalmenu li ul li{
    clear:both;
    border-style:none; height:20px; width:150px;padding: 0px;}
